<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Αγαπητέ πελάτη, <%= @domain.customer.name %></h1>
    <p>
    	θα θέλαμε να σας ενημερώσουμε οτι στις <%= @domain.expiration %> λήγει το όνομα χώρου <%= @domain.name %><br/>
    </p>
    <p>
      Εαν επιθυμείτε την ανανέωση της υπηρεσίας, επικοινωνήστε μαζί μας στα τηλέφωνα 2310 642308/09 ή μέσω email στο <a href="mailto:webmaster@projectteam.gr">webmaster@projectteam.gr</a> για να σας ενημερώσουμε για τους τρόπους πληρωμής.
    </p>
    <p>Η ανανέωση ισχύει για 2 χρόνια</p>
    <p>Σε αντίθετη περίπτωση το όνομα χώρου θα μπει σε κατάσταση καραντίνας για 15 μέρες και έπειτα θα διαγραφεί.
    </p>
    <p>Σας ευχαριστούμε πολύ!<br />
    	Με εκτίμηση <br />
    	Project Team - Ζήση Αντωνία<br />
    	Καραολή και Δημητρίου 155<br />
    	Τηλ.2310 642308
    </p>
  </body>
</html>