<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Αγαπητέ πελάτη, <%= @hosting.customer.name %></h1>
    <p>
    	θα θέλαμε να σας ενημερώσουμε οτι στις <%= @hosting.expiration %>
      λήγει ο χώρος φιλοξενίας για την ιστοσελίδα <%= @hosting.name %><br/>
    </p>
    <p>
      Εαν επιθυμείτε την ανανέωση της υπηρεσίας, επικοινωνήστε μαζί μας στα τηλέφωνα 2310 642308/09 ή μέσω email στο <a href="mailto:webmaster@projectteam.gr">webmaster@projectteam.gr</a> για να σας ενημερώσουμε για τους τρόπους ανανέωσης.
    </p>
    <p>Σε αντίθετη περίπτωση η ιστοσελίδας σας θα μπει σε κατάσταση καραντίνας για 1 μήνα και έπειτα θα διαγραφεί.
    </p>
    <p>Σας ευχαριστούμε πολύ!<br />
    	Με εκτίμηση <br />
    	Project Team - Ζήση Αντωνία<br />
    	Καραολή και Δημητρίου 155<br />
    	Τηλ.2310 642308
    </p>
  </body>
</html>