<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Αγαπητέ διαχειριστή, <%= @admin.email %></h1>
    <p>
      θα θέλαμε να σας ενημερώσουμε οτι στις <%= @domain.expiration %>
      λήγει το όνομα χώρου για την ιστοσελίδα <%= @domain.name %><br/>
    </p>
    <p>Συνδεθείτε στην ιστοσελίδα διαχείρισης
    </p>
  </body>
</html>