<h1>Αποστολή email</h1>
<p> <% @admins = Admin.all
      if(@hostings.present?)
            @hostings.each do |hosting|
            
            exp = hosting.renewal
            now = @now

                  #Αποστολή email ενα μήνα πριν τη λήξη
                  if exp.year == now.year && exp.day == now.day && exp.month-1 == now.month %>
                  	Θα σταλεί εμαιλ στο <%= hosting.customer.email %><br />

                        <%    
                           #@hosting = hosting
                           #HostingMailer.hosting_expires(@hosting).deliver 
                        %>
                  <% else %>
                  	Δεν θα σταλεί εμαιλ στο <%= hosting.customer.email %><br />
                  <% end %>
            <% end %>
      <% else %> Δεν υπάρχει κανένα hosting στη βάση
      <% end %>
 

</p>
<p><%#= @exp %></p>
<p><%#= @customer %></p>