<h1>Πακέτα φιλοξενίας</h1>

<table class="table table-striped table-condensed">
  <tr>
    <th>A/A</th>
    <th>Όνομα</th>
    <th>Κατοχύρωση</th>
    <th>Λήξη</th>
    <th>Ανανέωση</th>
    <th>Πελάτης</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>





<br />

<%#= link_to 'Νεο πακέτο', new_hosting_path, :class=>'btn btn-medium btn-primary' %>
